@keyframes change-bg {
  from {
    background-color: rgb(255, 0, 200);
  }
  to {
    background-color: rgb(255, 0, 100);
  }
}
.flip-card {
  font-family: monospace;
  background-color: transparent;
  width: 60%;
  aspect-ratio: 10/16;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: change-bg 5s infinite ease forwards;

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;

    .flip-card-front {
      width: 100%;
      height: 100%;
      padding: 10px;

      .success-card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .flip-card-back {
      background-color: inherit;
      color: white;
      transform: rotateY(180deg);

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;

      h1 {
        font-size: 32px;
      }

      p {
        margin: 10px 0px;
        font-size: 20px;

        &:last-child {
          font-size: 14px;
          text-overflow: ellipsis;
        }
      }

      .inline {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        font-size: 16px;

        span {
          color: rgb(206, 187, 187);
          font-size: 18px;

          &::after {
            content: ':';
          }
        }
        ul {
          list-style: none;
          display: flex;
          align-items: center;
          gap: 10px;
          flex-wrap: wrap;

          li {
            &::after {
              content: ',';
            }

            &:last-child::after {
              content: '';
            }
          }
        }
      }
    }
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
