@keyframes lose-heart {
  0% {
    scale: 1;
  }
  50% {
    scale: 2;
  }
  90.00001% {
    scale: 1;
  }
}

.classic {
  width: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin: auto;

    .game-img {
      width: 60%;
      object-fit: cover;
      box-shadow: 5px 5px 40px 10px rgba(207, 204, 204, 0.712);
      border-radius: 4px;
    }

    .who-guessed {
      width: 70%;

      p {
        font-family: monospace;
        text-align: center;
        font-size: 14px;

        .guess-number {
          font-size: 16px;
          font: 700;
          color: orange;
          margin-left: 6px;
          margin-right: 6px;
        }
      }
    }

    .input-area {
      display: flex;
      flex-direction: column;
      width: 60%;
      position: relative;

      input {
        width: 100%;
        padding: 10px 20px;
        border: none;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        color: black;
        font-size: 18px;
      }

      .search-result {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 2px;
        background-color: white;
        color: black;
        margin-top: 4px;
        font-family: monospace;
        font-size: 16px;
        max-height: 200px;
        overflow-y: scroll;
        position: absolute;
        top: 40px;
        max-width: 340px;
        width: 100%;

        li {
          border-top: 1px solid black;
          padding-left: 16px;
          cursor: pointer;

          &:hover {
            background-color: lightblue;
          }
        }
      }
    }
    .buttons {
      width: 70%;
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 4px;

      button {
        flex-grow: 1;
        padding: 10px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Press Start 2P', system-ui;
        border: 3px solid black;
        box-shadow: 5px 5px rgba(87, 85, 85, 0.712);

        &:hover {
          box-shadow: 5px 5px rgba(207, 204, 204, 0.712);
          scale: 110%;
        }

        &:first-child {
          background-color: rgb(255, 145, 0);
          max-width: 30%;
        }

        &:last-child {
          background-color: rgb(0, 38, 255);
        }
      }
    }

    .passed-hearts {
      width: 50%;
      margin: auto;
      margin-top: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 4px;

      span {
        background-color: red;
        padding: 6px;
      }
    }

    .hearts {
      width: 70%;
      margin: auto;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .heart-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .heart {
          width: 40px;
          height: 40px;

          transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s color;
          /* animation: loose-heart 2s; doesnt work, fix there */
          &.fill {
            color: red;
            stroke: red;
            fill: red;
          }
        }
      }
    }
    .finish-game {
      width: 300px;
      height: 390px;
      background-color: red;
    }
  }
}
